.d-grid{
  display: grid;
}
.d-flex{
  display: flex;
}
.justify-center{
  justify-content: center;
}
.space-around{
  justify-content: space-around;
}
.space-between{
  justify-content: space-between;
}
.self-center{
  align-self: center;
}
.place-center{
  place-self: center;
}
.place-item{
  place-items: center;
}
.h100{
  height: 100%;
}
.justify-self{
  justify-self: center;
}
.f-d-col{
  flex-direction: column;
}
/* width height  */
.wh-250{
  width: 250px;
  height: 250px;
}
.wh-80{
  width: 80px;
  height: 80px;
}
.wh-30{
  width: 30px;
  height: 30px;
}
.wh-15{
  width: 15px;
  height: 15px;
}
/* border radius */
.br-10{
  border-radius: 10px;
}
.br-5{
  border-radius:5px;
}
.br-50p{
  border-radius: 50%;
}
/* grid template col */
.g-template-col5{
  grid-template-columns: repeat(5,1fr);
}
.g-template-col3,.g-template-card{
  grid-template-columns: repeat(3,1fr);
}
.g-template-col2,.g-template-card2{
  grid-template-columns: 90px 2fr;
}
.g-template-row2{
  grid-template-rows: 1fr 1fr 1fr;
}

.gap-2{
  gap: 10px;
}
.gap-4{
  gap:20px;
}
.gap-6{
  gap:30px;
}
/* align item center */
.text-center{
  text-align: center;
}
/* margin */
.mt10{
  margin-top: 10px;
}
.mt5{
  margin-top: 5px;
}
.ml-3{
  margin-left: 3px;
}
.ml5{
  margin-left: 5px;
}
.m30{
  margin: 30px;
}
.m24{
  margin:24px;
}
.mblock-5{
  margin-block: 10px;
}
/* font-size */
.font-20{
  font-size: 20px;
}
.font-18{
  font-size: 18px;
}
.font-12{
  font-size: 12px;
}

/* border */
.b-1-grey{
  border: 1px solid rgb(204, 204, 204);
}
/* padding */
.p20{
  padding:20px;
}
.p-10{
  padding: 10px;
}
.p6{
  padding:6px;
}
h6{
  margin-bottom: 0px;
}

/* text color */
.color-grey{
  color: #6a7282;
}

/* svg image */
svg {
  color: grey;
  transition: color 0.3s;
}
.social-icon:hover path{
  fill: black;
  cursor: pointer;
}

p{
  margin-bottom: 5px !important;
}
h5, h6{
  margin-bottom: 4px !important;
}

.hover:hover{
  background-color: rgb(243, 242, 242);
  cursor: pointer;
}

/* underline */
.text-decoration-none{
  text-decoration: none;
}
a{
  cursor: pointer;
}

@media screen and (max-width:768px){
  .g-template-col5{
    grid-template-columns: repeat(4, 1fr);
  }
  .g-template-col3{
    grid-template-columns: repeat(2,1fr);
  }
  .p20{
    padding:10px;
  }
  .m24{
    margin: 15px;
  }
  .wh-250 {
    width: 150px;
    height: 150px;
  }
  .g-template-col2{
    grid-template-columns: 2fr;
  }
}
@media screen and (max-width:550px){
  .g-template-col5{
    grid-template-columns: repeat(2, 1fr);
  }
  .g-template-card{
    grid-template-columns:1fr;
  }
  .wh-250 {
    width: 100px;
    height: 100px;
  }
}